Парцела:

<div class="wrap">
  <div class="column">
    <label>Име</label>
    <input type="text" [(ngModel)]="mainResource.name">
  </div>
  <div class="column">
    <label>Опис</label>
    <input type="text" [(ngModel)]="mainResource.description">
  </div>
  <div class="column">
    <label>Кп Бројка</label>
    <input type="text" [(ngModel)]="mainResource.kpNumber">
  </div>
  <div class="column">
    <label>Година од</label>
    <input type="number" [(ngModel)]="mainResource.yearFrom">
  </div>
  <div class="column">
    <label>Година до</label>
    <input type="number" [(ngModel)]="mainResource.yearTo">
  </div>
  <div class="column">
    <label>Големина</label>
    <input type="number" [(ngModel)]="mainResource.size">
  </div>

  <div class="column">
    <button (click)="save()">Зачувај</button>
  </div>
</div>


