<div>

  <div>
    Име
    <input type="text" matInput [(ngModel)]="resource.name">
  </div>
  <div>
    <mat-form-field>
      <mat-label>Парцела</mat-label>
      <mat-select>
        <mat-option *ngFor="let mainResource of mainResources$|async"
                    [value]="resource.mainResource"
                    (onSelectionChange)="updateSelection(mainResource)">
          {{mainResource.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    Опис
    <input type="text" matInput [(ngModel)]="resource.descripiton">
  </div>

  <div>
    Големина
    <input type="number" matInput [(ngModel)]="resource.size">
  </div>

  <div>
    <div>
      <mat-form-field>
        <mat-label>Култура</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of resourceSubTypes$|async"
                      [value]="type.name"
                      (onSelectionChange)="updateType(type)">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  <div>
    Година
    <input type="number" matInput [(ngModel)]="resource.year">
  </div>
  <button (click)="save()">Зачувај</button>
</div>
